* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid #ccc;
}
.container {
  width: 300px;
  height: 300px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 100px;
  height: 100px;
  background-color: green;
  transition: transform 1s ease;
}
.container:hover .box {
  transform: rotate(90deg);
}
