* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid #ccc; */
}
body {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
  transition: transform 0.5s ease;
  transform: translateX(-100%);
}
.bg-shadow {
  position: absolute;
  inset: 0;
  visibility: hidden;
  background: #00000080;
  opacity: 0;
  transition: 1s ease;
  transition-property: opacity, visibility;
}
input:checked ~ .content {
  transform: translateX(0);
}
input:checked ~ .bg-shadow {
  visibility: visible;
  opacity: 1;
}
