* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  width: 1000px;
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.box img {
  display: block;
  max-height: 60px;
}
